<h1>Showing Selected Trade</h1>

<p>
    Title: <%= @trade.title %>
</p>
<p>
    Description: <%= @trade.description %>
</p>

<%= link_to "Edit this Trade", edit_trade_path(@trade) %> |
<%= link_to "Back to Trades Listing", trades_path %>